<div class="container">
    <div>
        <mat-card class="reset-password-card">
            <mat-card-content>
                <!-- <div>
                    <img width="200px" height="200px" src="../../../assets/NI_WEB.jpg"/>
                </div> -->
                <div> 
                    <div>
                        <h1 style="font-size: bold;">Reset Password</h1>
                    </div>
                    <form [formGroup]="resetPasswordForm" (submit)="$event.preventDefault()">
                        <div>
                            <mat-form-field class="form-field-width">
                                <mat-label>Employee/Admin Code</mat-label>
                                <input matInput class="form-control" formControlName="employeeCode" type="text" required/>
                            </mat-form-field>
                            <mat-form-field class="form-field-width">
                                <mat-label>Password</mat-label>
                                <input matInput class="form-control" formControlName="password" type="password" required/>
                            </mat-form-field>
                            <mat-form-field class="form-field-width">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput class="form-control" formControlName="confirmPassword" type="password" required/>
                            </mat-form-field>
                        </div>
                    </form>
                    <button [disabled]="!resetPasswordForm.valid" mat-flat-button class="green" (click)="resetPassword()">Reset Password</button>
                    <button style="margin-left: 10px;" mat-flat-button class="black" (click)="closeDialog()">Close</button>
                </div>
            </mat-card-content>
        </mat-card>
         
    </div>
</div>
