.reset-password-card{
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 400px) {
    .reset-password-card {width:100%;}
}

.green {background-color: #8DC641 !important; color:#fff !important}
.black {background-color: #000 !important; color:#fff !important}
