<div class="container">
    <!-- <div> -->
        <mat-card style="margin: 20px;">
        <mat-tab-group class="tabs" (selectedTabChange)="tabClick($event)">
            <mat-tab label="AMC Request">
                <table class="table" *ngIf="formattedAMCData.length > 0">
                    <th>Requested Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Machine Type</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Action</th>
                    <tr *ngFor="let amc of formattedAMCData" style="text-align: center;" class="rowseparator">
                        <td>{{ amc['createdAt']  | dateFilter}}</td>
                        <td>{{ amc['customerId'] ? amc['customerId']['customerCode'] : '-' }}</td>
                        <td>{{ amc['customerId']['customerName'] ? amc['customerId']['customerName'] : '-' }}</td>
                        <td>{{ amc['machinTypeValue'] }}</td>
                        <td>{{ amc['employeeId'] && amc['employeeId']['employeeName'] ? amc['employeeId']['employeeName'] : '-' }}</td>
                        <td>{{ amc['customerId'] && amc['customerId']['stateCode'] ? amc['customerId']['stateCode'] : '-' }}</td>
                        <td [ngClass] = "amc['status'] == 1 ? 'open' : 'close'">{{ amc['status'] == 0 ? 'Close' : 'Open' }}</td>
                        <td>
                            <button *ngIf="amc['status'] == '1'" mat-flat-button class="green" style="margin-left: 10px;" (click)="generateAMC(amc)">Generate & Send</button>
                            <button *ngIf="userRole == 'ADMIN'" mat-flat-button class="black" style="margin-left: 10px;" (click)="deleteAMC(amc)">Delete</button>
                        </td>
                    </tr>
                </table>
                
                <mat-card *ngIf="formattedAMCData.length == 0">
                    <h1>No AMC Request Found!</h1> 
                </mat-card>
            </mat-tab>
            <!-- <mat-tab label="Open Complaints">Open Complaints</mat-tab> -->
            <mat-tab label="Close Requests">
                <table class="table" *ngIf="closeFormattedAMCData.length > 0">
                    <th>Requested Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Machine Type</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Status</th>
                    <th *ngIf="userRole == 'ADMIN'">Action</th>
                    <tr *ngFor="let amc of closeFormattedAMCData" style="text-align: center;" class="rowseparator">
                        <td>{{ amc['createdAt']  | dateFilter}}</td>
                        <td>{{ amc['customerId'] ? amc['customerId']['customerCode'] : '-' }}</td>
                        <td>{{ amc['customerId']['customerName'] ? amc['customerId']['customerName'] : '-' }}</td>
                        <td>{{ amc['machinTypeValue'] }}</td>
                        <td>{{ amc['employeeId'] && amc['employeeId']['employeeName'] ? amc['employeeId']['employeeName'] : '-' }}</td>
                        <td>{{ amc['customerId'] && amc['customerId']['stateCode'] ? amc['customerId']['stateCode'] : '-' }}</td>
                        <td [ngClass] = "amc['status'] == 0 ? 'close' : 'open'">{{ amc['status'] == 0 ? 'Close' : 'Open' }}</td>
                        <td *ngIf="userRole == 'ADMIN'">
                            <button mat-flat-button class="black" style="margin-left: 10px;" (click)="deleteamc(amc)">Delete</button>
                        </td>
                    </tr>
                </table>
                
                <mat-card *ngIf="closeFormattedAMCData.length == 0">
                    <h1>No Closed AMC Request Found!</h1> 
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    <!-- </div> -->
</mat-card>
</div>