.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e1e1e1;
}
.login-card{
    width: 600px;
}

.left{
    width: 50%;
    min-height: 200px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    min-height: 200px;
    float: left;
}

.form-field-width{
    width: 96%;
}