<div class="container">
    <button mat-flat-button color="primary" class="cylinder-button" (click)="updateCylinderDetails()" *ngIf="userRole == 'ADMIN'">Cylinder Details</button>
    <div>
        <mat-tab-group class="tabs">
            <mat-tab label="Calibration Request">
                <table class="table" *ngIf="formattedCalibrationData.length > 0">
                    <th>Requested Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Machine Type</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Action</th>
                    <tr *ngFor="let calibration of formattedCalibrationData" style="text-align: center;" class="rowseparator">
                        <td>{{ calibration['createdAt']  | dateFilter}}</td>
                        <td>{{ calibration['customerId'] ? calibration['customerId']['customerCode'] : '-' }}</td>
                        <td>{{ calibration['customerId']['customerName'] ? calibration['customerId']['customerName'] : '-' }}</td>
                        <td>{{ calibration['machinTypeValue'] }}</td>
                        <td>{{ calibration['employeeId'] && calibration['employeeId']['employeeName'] ? calibration['employeeId']['employeeName'] : '-' }}</td>
                        <td [ngClass] = "calibration['status'] == 2 ? 'assign' : 'close'">{{ calibration['status'] == 2 ? 'Assigned' : 'Close' }}</td>
                        <td>
                            <button *ngIf="calibration['status'] == '1' || calibration['status'] == '2'" mat-flat-button color="primary" style="margin-left: 10px;" (click)="generateCalibration(calibration)">Generate & Send</button>
                        </td>
                    </tr>
                </table>
                
                <mat-card *ngIf="calibrationData.length == 0">
                    <h1>No Calibration Request Found!</h1> 
                </mat-card>
            </mat-tab>
            <!-- <mat-tab label="Open Complaints">Open Complaints</mat-tab> -->
            <mat-tab label="Close Requests">
                <!-- <table class="table" *ngIf="closeComplaintsList.length > 0">
                    <th>Requested Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Machine Type</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Action</th>
                    <tr *ngFor="let complaint of complaintsList" style="text-align: center;" class="rowseparator">
                        <td (click)="openDetailsPopup(complaint)">{{ complaint['createdAt']  | dateFilter}}</td>
                        <td (click)="openDetailsPopup(complaint)">{{ complaint['customerId'] ? complaint['customerId']['customerCode'] : '-' }}</td>
                        <td (click)="openDetailsPopup(complaint)">{{ complaint['customerId']['customerName'] ? complaint['customerId']['customerName'] : '-' }}</td>
                        <td (click)="openDetailsPopup(complaint)">{{ complaint['machineType'] == 0 ? 'Petrol' : 'Diesel' }}</td>
                        <td></td>
                        <td (click)="openDetailsPopup(complaint)" [ngClass] = "complaint['status'] == 0 ? 'close' : 'assign'">{{ complaint['status'] == 0 ? 'Close' : 'Open' }}</td>
                        <td>
                            <button *ngIf="complaint['status'] == '1' && complaint['status'] !== '2'" mat-flat-button color="warn" (click)="assign(complaint,false)">Assign</button>
                            <button *ngIf="complaint['status'] == '2'" mat-flat-button color="accent" style="margin-left: 10px;" (click)="assign(complaint,true)">Re Assign</button>
                            <button *ngIf="complaint['status'] == '1' || complaint['status'] == '2'" mat-flat-button color="primary" style="margin-left: 10px;" (click)="closeServiceRequest(complaint)">Close</button>
                        </td>
                    </tr>
                </table>
                <mat-card *ngIf="closeComplaintsList.length == 0">
                    <h1>No Close Complaints Found!</h1> 
                </mat-card> -->
            </mat-tab>
        </mat-tab-group>
    </div>
</div>