<div class="container">
  <div class="top">
    <div class="left">
      <mat-card class="pie-chart-card">
          <mat-card-content>  
            <h2 style="margin: 20px;">Service Request Graphics</h2>
            <canvas id="myChart">{{chart}}</canvas>
            <h2 *ngIf="!showChart">No Service Request Raised!</h2>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="left">
      <mat-card class="pie-chart-card">
          <mat-card-content> 
            <form [formGroup]="customerForm" (submit)="$event.preventDefault()">
              <div>
                <h2 style="margin: 20px;">Find Customer Visits</h2>
                  <mat-form-field class="form-field-width">
                      <mat-label>Customer Code</mat-label>
                      <input matInput class="form-control" formControlName="customerCode" type="text" required/>
                  </mat-form-field>
                  <button mat-flat-button color="primary" class="submit-btn" [disabled]="!customerForm.valid" (click)="getCustomerVisits()">Submit</button>
                  <button mat-flat-button color="warn" class="submit-btn" (click)="reset()">Reset</button>
              </div>
              <div class="circle-text-div" *ngIf="visitCount">
                <span>{{ visitCount }} / {{ totalVisitCount }}</span>
              </div>
          </form>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
    <div style="margin-top: 50px;" class="bottom">
        <div class="row card-row">
            <mat-card class="example-card" *ngFor="let employee of employeeList" (click)="goToEmployeeDetails(employee)">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{employee.firstName}} {{employee.lastName}}</mat-card-title>
                  <mat-card-subtitle>{{employee.phone}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/man-dummy.jpeg" alt="Photo of a Employee">
                <mat-card-content>
                  <div style="font-weight: bold;">Email : {{employee.email}}</div>
                  <div style="font-weight: bold;">DOB : {{employee.dob}}</div>
                  <div style="font-weight: bold;">Gender : {{employee.gender == '1' ? 'Male' : 'Female'}}</div>
                </mat-card-content>
            </mat-card>
            
        </div>
        <!-- <div style="width: 100%; height: 700px; text-align:center;margin:0; padding:0;">
          <ng-image-slider #nav
            [images]="employeeList"
            [infinite]="false"
            [autoSlide]="1"
            [imageSize]="{width: '25%', height: 200}"
            slideImage="1"></ng-image-slider>
        </div> -->
    </div>
</div>
