.container{
    margin-top: 60px;
    background: #e1e1e1;
}

.view-complaints-button{
    float: right;
    margin: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 400px;
    margin: 20px;
}

.pie-chart-card{
    max-width: 600px;
    margin: 20px;
}
  
.example-header-image {
    background-image: url('../../../assets/man-dummy.jpeg');
    background-size: cover;
}

.card-row{
    display: flex;
}

.top {
    height: 50vh;
}
  
.bottom {
    height: 50vh;    
}

.left{
    width: 50%;
    min-height: 200px;
    float: left;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.right{
    width: 50%;
    min-height: 200px;
    float: left;
}

#myChart{
    display: block;
    box-sizing: border-box;
    height: 242px;
    width: 514px;
}

.submit-btn{
    margin-left: 10px;
}

.circle-text-div{
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;
}